.login, .signup {
  margin:0 auto;
  height:250px;
  width:250px;
}

.favorite-song {
  text-align:center;
  height:80px;
  margin:5px;
}

.trackInformation {
  margin:0 auto;
  height:250px;
  width:250px;
}

ul {
  list-style:none;
}

img {
  border-radius:10px;
  height:200px;
}

h1 {
  text-align:center;
}

#heart {
    animation:blink 2s infinite;
}

@keyframes blink{
  /*to{opacity: .0;}*/
  0% {opacity: 1;}
  80% {opacity: 0;}
}
