<div ng-controller="RouletteController as vm">

  <div class="row">
    <div class="col s6">
      <div class="container z-depth-3" id="playing-container">
          <img src="{{ vm.trackImage }}"></img>
          <div class="card red playing-card">
            <button class="btn-floating btn-large waves-effect waves-light purple accent-2 right"
            ng-click="vm.likeSong()">
              <i class="material-icons">favorite</i>
            </button>

            <p class="white-text playing-title">{{ vm.trackTitle }}</p>
            <p class="white-text playing-artist">{{ vm.trackArtist }}</p>
            <div class="player"></div>
          </div>
      </div>
    </div>

    <div class="col s6">
      <div class="container">
        <div class="card red lighten-4">
          <h4 id="liked-header">Liked Songs</h4>
        </div>

        <ul>
          <div class="row">
            <li ng-repeat="favorite in vm.favoriteTracks">
              <div class="card white liked-card">
                <button class="btn-floating btn-large waves-effect waves-light purple accent-2 right"
                ng-click="vm.dislikeSong($index)">
                  <i class="material-icons">delete</i>
                </button>

                <p class="liked-title">{{ favorite.trackTitle }}</p>
                <p class="liked-artist">{{ favorite.trackArtist }}</p>
              </div>
          </li>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <button ng-click="vm.startPlayer()">Play</button>
</div>
