<div ng-controller="RouletteController as vm">
  <button ng-click="vm.startPlayer()">Play</button>

  <div class="row">
    <!-- Audio Player -->
    <div class="col s6">
      <div class="container z-depth-3">
          <img src="{{ vm.trackImage }}"></img>
          <div class="card red">
            <button class="btn-floating btn-large waves-effect waves-light purple accent-2 right"
            ng-click="vm.likeSong()">
              <i class="material-icons">favorite</i>
            </button>

            <h4 class="white-text">{{ vm.trackTitle }}</h4>
            <h6 class="white-text">{{ vm.trackArtist }}</h6>
            <div class="player"></div>
          </div>
      </div>
    </div>

    <div class="col s6">
      <div class="card red lighten-4">
        <h4>Liked Songs</h4>
      </div>

      <ul>
        <div class="row">
          <li ng-repeat="favorite in vm.favoriteTracks">
            <div class="card white">
              <button class="btn-floating btn-large waves-effect waves-light purple accent-2 right"
              ng-click="vm.dislikeSong($index)">
                <i class="material-icons">delete</i>
              </button>

              <p class="liked-title">{{ favorite.trackTitle }}</p>
              <p class="liked-artist">{{ favorite.trackArtist }}</p>
            </div>
        </li>
        </div>
      </ul>

    </div>
  </div>
</div>
