<div class="container" ng-controller="UserController as vm">
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card white">
        <div class="card-content">
          <p id="app-description">
            Ear Roulette is a jukebox for people with short attention spans.
            All of the tracks in the jukebox last for 30 seconds before the
            next one is played. You will never be bored of music again.
          </p>
        </div>
      </div>
    </div>
  </div>

  <form class="col s12" ng-submit="vm.login()">
    <div class="row">
      <h3 class="center-align">Login</h3>
    </div>

    <div class="row">
      <div class="input-field col s6 offset-s3">
        <input type="text" ng-model="vm.user.name" /><br />
        <label>Username</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 offset-s3">
        <input type="password" ng-model="vm.user.password" /><br />
        <label>Password</label>
      </div>
    </div>

    <div class="row">
      <div class="col offset-s5">
        <button class="waves-effect waves-light btn-large red">
          Login
        </button>
      </div>
    </div>
  </form>

  <br>

  <form class="col s12" ng-submit="vm.signup()">
    <h3 class="center-align">Signup</h3>

    <div class="row">
      <div class="input-field col s6 offset-s3">
        <input type="text" ng-model="vm.newUser.name" /><br />
        <label>Username</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 offset-s3">
        <input type="password" ng-model="vm.newUser.password" /><br />
        <label>Password</label>
      </div>
    </div>

    <div class="row">
      <div class="col offset-s5">
        <button class="waves-effect waves-light btn-large center-align red">
          Sign Up
        </button>
      </div>
    </div>
  </form>
</div>
